<section class="banner-area-two">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container-fluid social">
        <div class="row align-items-center">
          <div class="col-lg-7">
            <div class="banner-content">
              <h1 class="wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">Expert IT training when and where you need it</h1>
              <p class="wow fadeInLeft" data-wow-delay="0.6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas architecto doloremque fugiat! Tempora, molestias minus mollitia optio laboriosam nulla, sed, numquam ad tempore</p>

              <a href="courses.html" class="default-btn wow fadeInLeft" data-wow-delay="0.9s" style="visibility: hidden; animation-delay: 0.9s; animation-name: none;">
                View Courses
              </a>
            </div>
          </div>

          <div class="col-lg-5">
            <div class="banner-img wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
              <img src="assets/img/banner-img/banner-img-2.png" alt="Image">

              <div class="banner-shape-1">
                <img src="assets/img/banner-img/shape-img-1.png" alt="Image">
              </div>
              <div class="banner-shape-2">
                <img src="assets/img/banner-img/shape-img-2.png" alt="Image">
              </div>
              <div class="banner-shape-3">
                <img src="assets/img/banner-img/shape-img-3.png" alt="Image">
              </div>
              <div class="banner-shape-4">
                <img src="assets/img/banner-img/shape-img-4.png" alt="Image">
              </div>
              <div class="banner-shape-5 rotated">
                <img src="assets/img/banner-img/shape-img-5.png" alt="Image">
              </div>
              <div class="banner-shape-6">
                <img src="assets/img/banner-img/shape-img-6.png" alt="Image">
              </div>
              <div class="banner-shape-7 rotated">
                <img src="assets/img/banner-img/shape-img-7.png" alt="Image">
              </div>
              <div class="banner-shape-8">
                <img src="assets/img/banner-img/shape-img-8.png" alt="Image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="affordable-area pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <span>Our Affordable</span>
      <h2>Your benefit with Eduon</h2>
      <img src="assets/img/section-title-shape.png" alt="Image"/>
    </div>

    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single-affordable one">
          <i class="flaticon-investment"></i>

          <h3>Save time & money</h3>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-affordable two">
          <i class="flaticon-balance"></i>

          <h3>Balance learning with life</h3>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-affordable three">
          <i class="flaticon-online-education"></i>

          <h3>Gain valuable knowledge</h3>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-affordable four">
          <i class="flaticon-route"></i>

          <h3>Finish what you started</h3>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="courses-two-area f5f6fa-bg-color ptb-100">
  <div class="container">
    <div class="section-title">
      <span>Popular Courses</span>
      <h2>Popular online courses</h2>
      <img src="assets/img/section-title-shape.png" alt="Image">
    </div>

    <div class="courses-slider-two owl-theme owl-carousel owl-loaded owl-drag">











      <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2870px, 0px, 0px); transition: all 1s ease 0s; width: 4920px;"><div class="owl-item cloned" style="width: 380px; margin-right: 30px;"><div class="single-course">
        <a href="single-course.html">
          <img src="assets/img/course-img/course-img-4.jpg" alt="Image">
        </a>

        <div class="course-content">
          <span class="price">$49</span>
          <span class="tag">Teaching</span>

          <a href="single-course.html">
            <h3>Introduction to cybersecurity for teachers</h3>
          </a>

          <ul class="rating">
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
          </ul>

          <ul class="lessons">
            <li>0 Lessons</li>
            <li class="float">50 Students</li>
          </ul>
        </div>
      </div></div><div class="owl-item cloned" style="width: 380px; margin-right: 30px;"><div class="single-course">
        <a href="single-course.html">
          <img src="assets/img/course-img/course-img-5.jpg" alt="Image">
        </a>

        <div class="course-content">
          <span class="price">$39</span>
          <span class="tag">Teaching</span>

          <a href="single-course.html">
            <h3>Learning Implementing Formative Assessment</h3>
          </a>

          <ul class="rating">
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
          </ul>

          <ul class="lessons">
            <li>0 Lessons</li>
            <li class="float">44 Students</li>
          </ul>
        </div>
      </div></div><div class="owl-item cloned" style="width: 380px; margin-right: 30px;"><div class="single-course">
        <a href="single-course.html">
          <img src="assets/img/course-img/course-img-1.jpg" alt="Image">
        </a>

        <div class="course-content">
          <span class="price">$59</span>
          <span class="tag">Education</span>

          <a href="single-course.html">
            <h3>Teaching languages in primary schools: putting research</h3>
          </a>

          <ul class="rating">
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
          </ul>

          <ul class="lessons">
            <li>0 Lessons</li>
            <li class="float">44 Students</li>
          </ul>
        </div>
      </div></div><div class="owl-item" style="width: 380px; margin-right: 30px;"><div class="single-course">
        <a href="single-course.html">
          <img src="assets/img/course-img/course-img-1.jpg" alt="Image">
        </a>

        <div class="course-content">
          <span class="price">$35</span>
          <span class="tag">Education</span>

          <a href="single-course.html">
            <h3>Programming foundations: real-world examples</h3>
          </a>

          <ul class="rating">
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
          </ul>

          <ul class="lessons">
            <li>0 Lessons</li>
            <li class="float">44 Students</li>
          </ul>
        </div>
      </div></div><div class="owl-item" style="width: 380px; margin-right: 30px;"><div class="single-course">
        <a href="single-course.html">
          <img src="assets/img/course-img/course-img-2.jpg" alt="Image">
        </a>

        <div class="course-content">
          <span class="price">$39</span>
          <span class="tag">School</span>

          <a href="single-course.html">
            <h3>Teaching assistant certificate in learning in schools</h3>
          </a>

          <ul class="rating">
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
          </ul>

          <ul class="lessons">
            <li>0 Lessons</li>
            <li class="float">44 Students</li>
          </ul>
        </div>
      </div></div><div class="owl-item" style="width: 380px; margin-right: 30px;"><div class="single-course">
        <a href="single-course.html">
          <img src="assets/img/course-img/course-img-3.jpg" alt="Image">
        </a>

        <div class="course-content">
          <span class="price">$29</span>
          <span class="tag">Language</span>

          <a href="single-course.html">
            <h3>English: spelling, punctuation and grammar</h3>
          </a>

          <ul class="rating">
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
          </ul>

          <ul class="lessons">
            <li>0 Lessons</li>
            <li class="float">39 Students</li>
          </ul>
        </div>
      </div></div><div class="owl-item" style="width: 380px; margin-right: 30px;"><div class="single-course">
        <a href="single-course.html">
          <img src="assets/img/course-img/course-img-4.jpg" alt="Image">
        </a>

        <div class="course-content">
          <span class="price">$49</span>
          <span class="tag">Teaching</span>

          <a href="single-course.html">
            <h3>Introduction to cybersecurity for teachers</h3>
          </a>

          <ul class="rating">
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
          </ul>

          <ul class="lessons">
            <li>0 Lessons</li>
            <li class="float">50 Students</li>
          </ul>
        </div>
      </div></div><div class="owl-item active" style="width: 380px; margin-right: 30px;"><div class="single-course">
        <a href="single-course.html">
          <img src="assets/img/course-img/course-img-5.jpg" alt="Image">
        </a>

        <div class="course-content">
          <span class="price">$39</span>
          <span class="tag">Teaching</span>

          <a href="single-course.html">
            <h3>Learning Implementing Formative Assessment</h3>
          </a>

          <ul class="rating">
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
          </ul>

          <ul class="lessons">
            <li>0 Lessons</li>
            <li class="float">44 Students</li>
          </ul>
        </div>
      </div></div><div class="owl-item active" style="width: 380px; margin-right: 30px;"><div class="single-course">
        <a href="single-course.html">
          <img src="assets/img/course-img/course-img-1.jpg" alt="Image">
        </a>

        <div class="course-content">
          <span class="price">$59</span>
          <span class="tag">Education</span>

          <a href="single-course.html">
            <h3>Teaching languages in primary schools: putting research</h3>
          </a>

          <ul class="rating">
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
          </ul>

          <ul class="lessons">
            <li>0 Lessons</li>
            <li class="float">44 Students</li>
          </ul>
        </div>
      </div></div><div class="owl-item cloned active" style="width: 380px; margin-right: 30px;"><div class="single-course">
        <a href="single-course.html">
          <img src="assets/img/course-img/course-img-1.jpg" alt="Image">
        </a>

        <div class="course-content">
          <span class="price">$35</span>
          <span class="tag">Education</span>

          <a href="single-course.html">
            <h3>Programming foundations: real-world examples</h3>
          </a>

          <ul class="rating">
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
          </ul>

          <ul class="lessons">
            <li>0 Lessons</li>
            <li class="float">44 Students</li>
          </ul>
        </div>
      </div></div><div class="owl-item cloned" style="width: 380px; margin-right: 30px;"><div class="single-course">
        <a href="single-course.html">
          <img src="assets/img/course-img/course-img-2.jpg" alt="Image">
        </a>

        <div class="course-content">
          <span class="price">$39</span>
          <span class="tag">School</span>

          <a href="single-course.html">
            <h3>Teaching assistant certificate in learning in schools</h3>
          </a>

          <ul class="rating">
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
          </ul>

          <ul class="lessons">
            <li>0 Lessons</li>
            <li class="float">44 Students</li>
          </ul>
        </div>
      </div></div><div class="owl-item cloned" style="width: 380px; margin-right: 30px;"><div class="single-course">
        <a href="single-course.html">
          <img src="assets/img/course-img/course-img-3.jpg" alt="Image">
        </a>

        <div class="course-content">
          <span class="price">$29</span>
          <span class="tag">Language</span>

          <a href="single-course.html">
            <h3>English: spelling, punctuation and grammar</h3>
          </a>

          <ul class="rating">
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
            <li>
              <i class="bx bxs-star"></i>
            </li>
          </ul>

          <ul class="lessons">
            <li>0 Lessons</li>
            <li class="float">39 Students</li>
          </ul>
        </div>
      </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button></div></div>
  </div>
</section>



<section class="categories-area ptb-100">
  <div class="container">
    <div class="section-title">
      <span>Categories</span>
      <h2>Top categories</h2>
      <img src="assets/img/section-title-shape.png" alt="Image">
    </div>

    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single-categories">
          <img src="assets/img/categories-img/categories-img-1.jpg" alt="Image">

          <div class="categories-content-wrap">
            <div class="categories-content">
              <a href="courses.html">
                <h3>Design</h3>
              </a>
              <span>Over 200+ courses</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-categories">
          <img src="assets/img/categories-img/categories-img-2.jpg" alt="Image">

          <div class="categories-content-wrap">
            <div class="categories-content">
              <a href="courses.html">
                <h3>Development</h3>
              </a>
              <span>Over 300 courses</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-categories">
          <img src="assets/img/categories-img/categories-img-3.jpg" alt="Image">

          <div class="categories-content-wrap">
            <div class="categories-content">
              <a href="courses.html">
                <h3>Business</h3>
              </a>
              <span>Over 150 courses</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-categories">
          <img src="assets/img/categories-img/categories-img-4.jpg" alt="Image">

          <div class="categories-content-wrap">
            <div class="categories-content">
              <a href="courses.html">
                <h3>Marketing</h3>
              </a>
              <span>Over 200+ courses</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-categories">
          <img src="assets/img/categories-img/categories-img-5.jpg" alt="Image">

          <div class="categories-content-wrap">
            <div class="categories-content">
              <a href="courses.html">
                <h3>IT &amp; Software</h3>
              </a>
              <span>Over 250 courses</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-categories">
          <img src="assets/img/categories-img/categories-img-6.jpg" alt="Image">

          <div class="categories-content-wrap">
            <div class="categories-content">
              <a href="courses.html">
                <h3>Data Science</h3>
              </a>
              <span>Over 50 courses</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-categories">
          <img src="assets/img/categories-img/categories-img-7.jpg" alt="Image">

          <div class="categories-content-wrap">
            <div class="categories-content">
              <a href="courses.html">
                <h3>Photography</h3>
              </a>
              <span>Over 700 courses</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-categories">
          <img src="assets/img/categories-img/categories-img-8.jpg" alt="Image">

          <div class="categories-content-wrap">
            <div class="categories-content">
              <a href="courses.html">
                <h3>Music</h3>
              </a>
              <span>Over 150 courses</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="text-center">
          <a href="courses.html" class="default-btn">All Catagories</a>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="feature-area">
  <div class="container">
    <div class="feature-wrap">
      <div class="row m-0">
        <div class="col-lg-4 col-sm-6">
          <div class="single-feature">
            <i class="flaticon-online"></i>
            <h3>Go at your own course</h3>
            <p>Enjoy lifetime access to courses on Eduon website</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="single-feature">
            <i class="flaticon-expert"></i>
            <h3>Learn from our experts</h3>
            <p>Enjoy lifetime access to courses on Eduon website</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
          <div class="single-feature">
            <i class="flaticon-online-class"></i>
            <h3>Find video courses</h3>
            <p>Enjoy lifetime access to courses on Eduon website</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="feedback-area ptb-100">
  <div class="container">
    <div class="section-title">
      <span>Feedback</span>
      <h2>What students say</h2>
      <img src="assets/img/section-title-shape.png" alt="Image">
    </div>

    <div class="feedback-slider owl-theme owl-carousel owl-loaded owl-drag">





      <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-3690px, 0px, 0px); transition: all 1s ease 0s; width: 8610px;"><div class="owl-item cloned" style="width: 1200px; margin-right: 30px;"><div class="feedback-item">
        <i class="flaticon-quotation"></i>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

        <div class="feedback-title">
          <img src="assets/img/feedback-img/feedback-img-2.jpg" alt="Image">
          <h3>Juhon Dew</h3>
          <span>Marketer </span>
        </div>
      </div></div><div class="owl-item cloned" style="width: 1200px; margin-right: 30px;"><div class="feedback-item">
        <i class="flaticon-quotation"></i>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

        <div class="feedback-title">
          <img src="assets/img/feedback-img/feedback-img-3.jpg" alt="Image">
          <h3>Kilva Smith</h3>
          <span>Designer</span>
        </div>
      </div></div><div class="owl-item" style="width: 1200px; margin-right: 30px;"><div class="feedback-item">
        <i class="flaticon-quotation"></i>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

        <div class="feedback-title">
          <img src="assets/img/feedback-img/feedback-img-1.jpg" alt="Image">
          <h3>Jessica Molony</h3>
          <span>Designer</span>
        </div>
      </div></div><div class="owl-item active" style="width: 1200px; margin-right: 30px;"><div class="feedback-item">
        <i class="flaticon-quotation"></i>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

        <div class="feedback-title">
          <img src="assets/img/feedback-img/feedback-img-2.jpg" alt="Image">
          <h3>Juhon Dew</h3>
          <span>Marketer </span>
        </div>
      </div></div><div class="owl-item" style="width: 1200px; margin-right: 30px;"><div class="feedback-item">
        <i class="flaticon-quotation"></i>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

        <div class="feedback-title">
          <img src="assets/img/feedback-img/feedback-img-3.jpg" alt="Image">
          <h3>Kilva Smith</h3>
          <span>Designer</span>
        </div>
      </div></div><div class="owl-item cloned" style="width: 1200px; margin-right: 30px;"><div class="feedback-item">
        <i class="flaticon-quotation"></i>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

        <div class="feedback-title">
          <img src="assets/img/feedback-img/feedback-img-1.jpg" alt="Image">
          <h3>Jessica Molony</h3>
          <span>Designer</span>
        </div>
      </div></div><div class="owl-item cloned" style="width: 1200px; margin-right: 30px;"><div class="feedback-item">
        <i class="flaticon-quotation"></i>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

        <div class="feedback-title">
          <img src="assets/img/feedback-img/feedback-img-2.jpg" alt="Image">
          <h3>Juhon Dew</h3>
          <span>Marketer </span>
        </div>
      </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
  </div>
  <div class="feedback-shape-1">
    <img src="assets/img/feedback-img/feedback-shape-1.png" alt="Image">
  </div>
  <div class="feedback-shape-2">
    <img src="assets/img/feedback-img/feedback-shape-2.png" alt="Image">
  </div>
</section>
<section class="event-area-two ptb-100">
  <div class="container">
    <div class="section-title">
      <span>Education Events</span>
      <h2>Upcoming events</h2>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-12 col-sm-6">
            <div class="single-event">
              <a href="single-event.html">
                <img src="assets/img/event-img/event-img-1.png" alt="Image">
              </a>

              <div class="event-content">
                <ul>
                  <li>
                    <i class="bx bx-calendar"></i>
                    Oct 27, 2020
                  </li>
                  <li>
                    <i class="bx bx-time"></i>
                    Monday 3:00AM - 5:00PM
                  </li>
                </ul>

                <a href="single-event.html">
                  <h3>Comprehensive literacy and reading recovery conference</h3>
                </a>

                <span>
											<i class="bx bxs-location-plus"></i>
											lorem, DC
										</span>
              </div>
            </div>
          </div>

          <div class="col-lg-12 col-sm-6">
            <div class="single-event">
              <a href="single-event.html">
                <img src="assets/img/event-img/event-img-2.png" alt="Image">
              </a>

              <div class="event-content">
                <ul>
                  <li>
                    <i class="bx bx-calendar"></i>
                    Dec 14, 2020
                  </li>
                  <li>
                    <i class="bx bx-time"></i>
                    Monday 4:00AM - 6:00PM
                  </li>
                </ul>

                <a href="single-event.html">
                  <h3>Future of higher education: an invitation to lead</h3>
                </a>

                <span>
											<i class="bx bxs-location-plus"></i>
lorem										</span>
              </div>
            </div>
          </div>

          <div class="col-lg-12 col-sm-6 offset-sm-3 offset-lg-0">
            <div class="single-event">
              <a href="single-event.html">
                <img src="assets/img/event-img/event-img-3.png" alt="Image">
              </a>

              <div class="event-content">
                <ul>
                  <li>
                    <i class="bx bx-calendar"></i>
                    Oct 30, 2020
                  </li>
                  <li>
                    <i class="bx bx-time"></i>
                    Monday 3:00AM - 5:00PM
                  </li>
                </ul>

                <a href="single-event.html">
                  <h3>National reading recovery &amp; literacy conference</h3>
                </a>

                <span>
											<i class="bx bxs-location-plus"></i>
											lorem
										</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="event-img">
          <img src="assets/img/event-img/event-img-5.png" alt="Image">

          <div class="video-content">
            <a href="https://www.youtube.com/watch?v=iLS_YP1uEK8" class="video-btn popup-youtube">
              <i class="flaticon-play-button"></i>
            </a>
          </div>

          <div class="event-shape-1 rotated">
            <img src="assets/img/event-img/event-shape-1.png" alt="Image">
          </div>

          <div class="event-shape-2">
            <img src="assets/img/event-img/event-shape-2.png" alt="Image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="news-area f5f6fa-bg-color pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <span>Our News</span>
      <h2>Explore recent news</h2>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="single-news">
          <a href="single-blog.html">
            <img src="assets/img/news-img/news-img-1.jpg" alt="Image">
          </a>

          <div class="news-content">
            <span class="tag">Development</span>

            <a href="single-blog.html">
              <h3>What is lifelong learning and how could it help your learning?</h3>
            </a>

            <ul class="lessons">
              <li>By: <a href="#">Admin</a></li>
              <li class="float">Posted aon 13/11/2020</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="row mb-30">
          <div class="col-lg-4 col-sm-4 pr-0">
            <div class="news-img bg-2"></div>
          </div>

          <div class="col-lg-8 col-sm-8 pl-0">
            <div class="news-listing-content">
              <span class="tag">Market Trends</span>

              <a href="single-blog.html">
                <h3>All aspire students are now student card eligible!</h3>
              </a>

              <ul class="lessons">
                <li>By: <a href="#">Admin</a></li>
                <li class="float">Posted on 12/12/2020</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row mb-30">
          <div class="col-lg-4 col-sm-4 pr-0">
            <div class="news-img bg-3"></div>
          </div>

          <div class="col-lg-8 col-sm-8 pl-0">
            <div class="news-listing-content">
              <span class="tag">Research</span>

              <a href="single-blog.html">
                <h3>Determining the true goal of a good education is difficult.</h3>
              </a>

              <ul class="lessons">
                <li>By: <a href="#">Admin</a></li>
                <li class="float">Posted on 11/12/2020</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row r-p-mb">
          <div class="col-lg-4 col-sm-4 pr-0">
            <div class="news-img bg-4"></div>
          </div>

          <div class="col-lg-8 col-sm-8 pl-0">
            <div class="news-listing-content">
              <span class="tag">Career Advice</span>

              <a href="single-blog.html">
                <h3>Leading the way with lifelong learning</h3>
              </a>

              <ul class="lessons">
                <li>By: <a href="#">Admin</a></li>
                <li class="float">Posted on 10/12/2020</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="subscribe-area ebeef5-bg-color ptb-100">
  <div class="container">
    <div class="subscribe-wrap">
      <h2>Subscribe</h2>
      <p>Subscribe to our newsletter &amp; stay updated</p>

      <form class="newsletter-form" data-toggle="validator" novalidate="true">
        <input type="email" class="form-control" placeholder="Your email address" name="EMAIL" required="" autocomplete="off">

        <button class="default-btn disabled" type="submit" style="pointer-events: all; cursor: pointer;">
          Subscribe Now
        </button>

        <div id="validator-newsletter" class="form-result"></div>
      </form>
      <div class="subscribe-img">
        <img src="assets/img/subscribe-img.png" alt="Image">
      </div>
    </div>
  </div>
</section>
