<div class="blog-column-three-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-news">
          <a href="single-blog.html">
            <img src="assets/img/news-img/news-img-8.jpg" alt="Image">
          </a>

          <div class="news-content">
            <span class="tag">Research</span>

            <a href="single-blog.html">
              <h3>Determining the true goal of a good education is difficult.</h3>
            </a>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua</p>

            <ul class="lessons">
              <li>By: <a href="#">Admin</a></li>
              <li class="float">Posted aon 13/07/2020</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-news">
          <a href="single-blog.html">
            <img src="assets/img/news-img/news-img-9.jpg" alt="Image">
          </a>

          <div class="news-content">
            <span class="tag">Development</span>

            <a href="single-blog.html">
              <h3>What is lifelong learning and how could it help your learning?</h3>
            </a>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua</p>

            <ul class="lessons">
              <li>By: <a href="#">Admin</a></li>
              <li class="float">Posted aon 12/07/2020</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-news">
          <a href="single-blog.html">
            <img src="assets/img/news-img/news-img-10.jpg" alt="Image">
          </a>

          <div class="news-content">
            <span class="tag">Market Trends</span>

            <a href="single-blog.html">
              <h3>All aspire students are now student card eligible!</h3>
            </a>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua</p>

            <ul class="lessons">
              <li>By: <a href="#">Admin</a></li>
              <li class="float">Posted aon 11/07/2020</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-news">
          <a href="single-blog.html">
            <img src="assets/img/news-img/news-img-11.jpg" alt="Image">
          </a>

          <div class="news-content">
            <span class="tag">Career Advice</span>

            <a href="single-blog.html">
              <h3>Leading the way with lifelong learning</h3>
            </a>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua</p>

            <ul class="lessons">
              <li>By: <a href="#">Admin</a></li>
              <li class="float">Posted aon 10/07/2020</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-news">
          <a href="single-blog.html">
            <img src="assets/img/news-img/news-img-12.jpg" alt="Image">
          </a>

          <div class="news-content">
            <span class="tag">Career Advice</span>

            <a href="single-blog.html">
              <h3>Learning implementing formative assessment</h3>
            </a>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua</p>

            <ul class="lessons">
              <li>By: <a href="#">Admin</a></li>
              <li class="float">Posted aon 09/07/2020</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-news">
          <a href="single-blog.html">
            <img src="assets/img/news-img/news-img-13.jpg" alt="Image">
          </a>

          <div class="news-content">
            <span class="tag">Career Advice</span>

            <a href="single-blog.html">
              <h3>Introduction to cybersecurity for teachers</h3>
            </a>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua</p>

            <ul class="lessons">
              <li>By: <a href="#">Admin</a></li>
              <li class="float">Posted aon 08/07/2020</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-news">
          <a href="single-blog.html">
            <img src="assets/img/news-img/news-img-14.jpg" alt="Image">
          </a>

          <div class="news-content">
            <span class="tag">Career Advice</span>

            <a href="single-blog.html">
              <h3>Developing strategies for online teaching and learning</h3>
            </a>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua</p>

            <ul class="lessons">
              <li>By: <a href="#">Admin</a></li>
              <li class="float">Posted aon 07/07/2020</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-news">
          <a href="single-blog.html">
            <img src="assets/img/news-img/news-img-15.jpg" alt="Image">
          </a>

          <div class="news-content">
            <span class="tag">Career Advice</span>

            <a href="single-blog.html">
              <h3>HR and payroll administrator course</h3>
            </a>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua</p>

            <ul class="lessons">
              <li>By: <a href="#">Admin</a></li>
              <li class="float">Posted aon 06/07/2020</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
        <div class="single-news">
          <a href="single-blog.html">
            <img src="assets/img/news-img/news-img-16.jpg" alt="Image">
          </a>

          <div class="news-content">
            <span class="tag">Career Advice</span>

            <a href="single-blog.html">
              <h3>English: spelling, punctuation, and grammar</h3>
            </a>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua</p>

            <ul class="lessons">
              <li>By: <a href="#">Admin</a></li>
              <li class="float">Posted aon 05/07/2020</li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
