<div>

<!--  <div class="loader-wrapper">-->
<!--    <div class="loader">-->
<!--      <div class="dot-wrap">-->
<!--        <span class="dot"></span>-->
<!--        <span class="dot"></span>-->
<!--        <span class="dot"></span>-->
<!--        <span class="dot"></span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="modal-newsletter-area">
    <div class="modal fade" id="exampleModal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">
            <i class="bx bx-x"></i>
          </button>

          <div class="modal-body">
            <div class="row">
              <div class="col-lg-5 col-sm-5 p-0">
                <div class="newsletter-img">
                  <img src="assets/img/newsletter-img.jpg" alt="Image"/>

                </div>
              </div>

              <div class="col-lg-7 col-sm-7 pl-0">
                <div class="modal-newsletter-wrap">
                  <h3>Subscribe to our newsletter</h3>
                  <p>Sign up for our mailing list to get the latest updates & offers.</p>

                  <form class="newsletter-form" data-toggle="validator">
                    <input type="email" class="form-control" placeholder="Enter email address" name="EMAIL" required />

                    <button class="default-btn" type="submit">
                      Subscribe Now
                    </button>

                    <div id="validator-newsletter-2" class="form-result"></div>

                    <div class="agree-label">
                      <input type="checkbox" id="chb1"/>
                      <label htmlFor="chb1">
                        Do not show this popup again
                      </label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-area navbar-area-two">
    <div class="mobile-nav">
      <a href="index.html" class="logo">
        <img src="assets/img/logo.png" alt="Logo"/>
      </a>
    </div>

    <div class="main-nav">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-md">
          <a class="navbar-brand" href="index.html">
            <img src="assets/img/logo.png" alt="Logo"/>
          </a>

          <div class="collapse navbar-collapse mean-menu">
            <ul class="navbar-nav m-auto">
              <li class="nav-item">
                <a href="#" class="nav-link active">
                  Home
                </a>

              </li>

              <li class="nav-item">
                <a  routerLink="courses" class="nav-link">
                  Courses
                </a>
              </li>

              <li class="nav-item">
                <a routerLink="shop" class="nav-link">
                  Shop
                </a>
              </li>

              <li class="nav-item">
                <a routerLink="about" class="nav-link">


                  About
                </a>
              </li>

              <li class="nav-item">
                <a routerLink="blog" class="nav-link">
                  Blog
                </a>
              </li>

              <li class="nav-item">
                <a routerLink="contact" class="nav-link">Contact</a>
              </li>
            </ul>

            <div class="others-option">
              <div class="option-item">
                <i class="search-btn bx bx-search"></i>
                <i class="close-btn bx bx-x"></i>

                <div class="search-overlay search-popup">
                  <div class='search-box'>
                    <form class="search-form">
                      <input class="search-input" name="search" placeholder="Search" type="text"/>

                      <button class="search-button" type="submit"><i class="bx bx-search"></i></button>
                    </form>
                  </div>
                </div>
              </div>

              <div class="cart-icon">
                <a routerLink="addto">
                  <i class="flaticon-shopping-cart"> </i>
                </a>
              </div>

              <div class="register">
                <a routerLink="logReg" class="default-btn">
                  Login / Register
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="others-option-for-responsive">
      <div class="container">
        <div class="dot-menu">
          <div class="inner">
            <div class="circle circle-one"></div>
            <div class="circle circle-two"></div>
            <div class="circle circle-three"></div>
          </div>
        </div>

        <div class="container">
          <div class="option-inner">
            <div class="others-option justify-content-center d-flex align-items-center">
              <div class="option-item">
                <i class="search-btn bx bx-search"></i>
                <i class="close-btn bx bx-x"></i>

                <div class="search-overlay search-popup">
                  <div class='search-box'>
                    <form class="search-form">
                      <input class="search-input" name="search" placeholder="Search" type="text"/>

                      <button class="search-button" type="submit"><i class="bx bx-search"></i></button>
                    </form>
                  </div>
                </div>
              </div>

              <div class="cart-icon">
                <a href="cart.html">
                  <i class="flaticon-shopping-cart"></i>
                  <span>0</span>
                </a>
              </div>

              <div class="register">
                <a href="my-account.html" class="default-btn">
                  Login / Register
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
