<section class="education-area-two ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="education-content">
          <span class="top-title">Education For All</span>
          <h2>Why create an online course with <span>EDUON</span>?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida dolor sit amet, consectetur adipiscing elit consectetur.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolor sit amet, consectetur adipiscing elit.</p>

          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li>
                  <i class="bx bx-check"></i>
                  Unlimited everything
                </li>
                <li>
                  <i class="bx bx-check"></i>
                  No transaction fees
                </li>
              </ul>
            </div>

            <div class="col-lg-6">
              <ul>
                <li>
                  <i class="bx bx-check"></i>
                  No technical headaches
                </li>
                <li>
                  <i class="bx bx-check"></i>
                  Free migrations
                </li>
              </ul>
            </div>
          </div>

          <a href="courses.html" class="default-btn">
            View All Courses
          </a>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="education-img-wrap">
          <div class="education-img-2">
            <img src="assets/img/education-img-2.jpg" alt="Image">
          </div>

          <div class="education-img-3">
            <img src="assets/img/education-img-3.jpg" alt="Image">
          </div>

          <div class="education-img-4">
            <img src="assets/img/education-img-4.jpg" alt="Image">
          </div>

          <div class="education-shape-1">
            <img src="assets/img/education-shape-1.jpg" alt="Image">
          </div>

          <div class="education-shape-2">
            <img src="assets/img/education-shape-2.png" alt="Image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
