

<section class="courses-area-style ptb-100">
  <div class="container">
    <div class="showing-result">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-4">
          <div class="showing-result-count">
            <p>Showing 1-8 of 14 results</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="showing-top-bar-ordering">
            <select style="display: none;">
              <option value="1">Default sorting</option>
              <option value="2">Education</option>
              <option value="0">Accounting</option>
              <option value="3">Language</option>
              <option value="4">Teaching</option>
              <option value="5">Research</option>
              <option value="5">Assessment</option>
            </select><div class="nice-select" tabindex="0"><span class="current">Default sorting</span><ul class="list"><li data-value="1" class="option selected">Default sorting</li><li data-value="2" class="option">Education</li><li data-value="0" class="option">Accounting</li><li data-value="3" class="option">Language</li><li data-value="4" class="option">Teaching</li><li data-value="5" class="option">Research</li><li data-value="5" class="option">Assessment</li></ul></div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <form class="search-form">
            <input class="form-control" name="search" placeholder="Search our courses" type="text">
            <button class="search-btn" type="submit">
              <i class="bx bx-search"></i>
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-course">
          <a href="single-course.html">
            <img src="assets/img/course-img/course-img-1.jpg" alt="Image">
          </a>

          <div class="course-content">
            <span class="price">$39</span>
            <span class="tag">Education</span>

            <a href="single-course.html">
              <h3>Developing strategies for online teaching and learning</h3>
            </a>

            <ul class="rating">
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <span>0.5</span>
                <a href="#">(1 rating)</a>
              </li>
            </ul>

            <p>Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

            <ul class="lessons">
              <li>0 Lessons</li>
              <li class="float">44 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-course">
          <a href="single-course.html">
            <img src="assets/img/course-img/course-img-2.jpg" alt="Image">
          </a>

          <div class="course-content">
            <span class="price">$59</span>
            <span class="tag">Accounting</span>

            <a href="single-course.html">
              <h3>HR and payroll administrator course</h3>
            </a>

            <ul class="rating">
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <span>0.5</span>
                <a href="#">(3 rating)</a>
              </li>
            </ul>

            <p>Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

            <ul class="lessons">
              <li>0 Lessons</li>
              <li class="float">24 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-course">
          <a href="single-course.html">
            <img src="assets/img/course-img/course-img-3.jpg" alt="Image">
          </a>

          <div class="course-content">
            <span class="price">$29</span>
            <span class="tag">Language</span>

            <a href="single-course.html">
              <h3>English: spelling, punctuation, and grammar</h3>
            </a>

            <ul class="rating">
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <span>0.5</span>
                <a href="#">(5 rating)</a>
              </li>
            </ul>

            <p>Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

            <ul class="lessons">
              <li>0 Lessons</li>
              <li class="float">39 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-course">
          <a href="single-course.html">
            <img src="assets/img/course-img/course-img-4.jpg" alt="Image">
          </a>

          <div class="course-content">
            <span class="price">$49</span>
            <span class="tag">Teaching</span>

            <a href="single-courses.html">
              <h3>Introduction to cybersecurity for teachers</h3>
            </a>

            <ul class="rating">
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <span>0.5</span>
                <a href="#">(2 rating)</a>
              </li>
            </ul>

            <p>Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

            <ul class="lessons">
              <li>0 Lessons</li>
              <li class="float">50 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-course">
          <a href="single-course.html">
            <img src="assets/img/course-img/course-img-5.jpg" alt="Image">
          </a>

          <div class="course-content">
            <span class="price">$39</span>
            <span class="tag">Teaching</span>

            <a href="single-course.html">
              <h3>Learning implementing formative assessment</h3>
            </a>

            <ul class="rating">
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <span>0.5</span>
                <a href="#">(1 rating)</a>
              </li>
            </ul>

            <p>Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

            <ul class="lessons">
              <li>0 Lessons</li>
              <li class="float">44 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-course">
          <a href="single-course.html">
            <img src="assets/img/course-img/course-img-6.jpg" alt="Image">
          </a>

          <div class="course-content">
            <span class="price">$59</span>
            <span class="tag">Education</span>

            <a href="single-course.html">
              <h3>Teaching languages in primary schools: putting research</h3>
            </a>

            <ul class="rating">
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <span>0.5</span>
                <a href="#">(3 rating)</a>
              </li>
            </ul>

            <p>Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

            <ul class="lessons">
              <li>0 Lessons</li>
              <li class="float">44 Students</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
