<div class="modal fade product-view-one show" id="product-view-one" style="padding-right: 17px; display: none;" aria-modal="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">
							<i class="bx bx-x"></i>
						</span>
      </button>

      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <div class="product-view-one-image">
            <div id="big" class="owl-carousel owl-theme owl-loaded owl-drag">






              <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1005px, 0px, 0px); transition: all 0.1s ease 0s; width: 4020px;"><div class="owl-item cloned" style="width: 335px;"><div class="item">
                <img src="assets/img/shop/shop-img-4.jpg" alt="Image">
              </div></div><div class="owl-item cloned" style="width: 335px;"><div class="item">
                <img src="assets/img/shop/shop-img-5.jpg" alt="Image">
              </div></div><div class="owl-item cloned" style="width: 335px;"><div class="item">
                <img src="assets/img/shop/shop-img-6.jpg" alt="Image">
              </div></div><div class="owl-item active" style="width: 335px;"><div class="item">
                <img src="assets/img/shop/shop-img-1.jpg" alt="Image">
              </div></div><div class="owl-item" style="width: 335px;"><div class="item">
                <img src="assets/img/shop/shop-img-2.jpg" alt="Image">
              </div></div><div class="owl-item" style="width: 335px;"><div class="item">
                <img src="assets/img/shop/shop-img-3.jpg" alt="Image">
              </div></div><div class="owl-item" style="width: 335px;"><div class="item">
                <img src="assets/img/shop/shop-img-4.jpg" alt="Image">
              </div></div><div class="owl-item" style="width: 335px;"><div class="item">
                <img src="assets/img/shop/shop-img-5.jpg" alt="Image">
              </div></div><div class="owl-item" style="width: 335px;"><div class="item">
                <img src="assets/img/shop/shop-img-6.jpg" alt="Image">
              </div></div><div class="owl-item cloned" style="width: 335px;"><div class="item">
                <img src="assets/img/shop/shop-img-1.jpg" alt="Image">
              </div></div><div class="owl-item cloned" style="width: 335px;"><div class="item">
                <img src="assets/img/shop/shop-img-2.jpg" alt="Image">
              </div></div><div class="owl-item cloned" style="width: 335px;"><div class="item">
                <img src="assets/img/shop/shop-img-3.jpg" alt="Image">
              </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="bx bx-left-arrow-alt"></i></button><button type="button" role="presentation" class="owl-next"><i class="bx bx-right-arrow-alt"></i></button></div><div class="owl-dots disabled"></div></div>

            <div id="thumbs" class="owl-carousel owl-theme owl-loaded owl-drag">






              <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0.1s ease 0s; width: 402px;"><div class="owl-item current active" style="width: 67px;"><div class="item">
                <img src="assets/img/shop/shop-img-1.jpg" alt="Image">
              </div></div><div class="owl-item active" style="width: 67px;"><div class="item">
                <img src="assets/img/shop/shop-img-2.jpg" alt="Image">
              </div></div><div class="owl-item active" style="width: 67px;"><div class="item">
                <img src="assets/img/shop/shop-img-3.jpg" alt="Image">
              </div></div><div class="owl-item active" style="width: 67px;"><div class="item">
                <img src="assets/img/shop/shop-img-4.jpg" alt="Image">
              </div></div><div class="owl-item active" style="width: 67px;"><div class="item">
                <img src="assets/img/shop/shop-img-5.jpg" alt="Image">
              </div></div><div class="owl-item" style="width: 67px;"><div class="item">
                <img src="assets/img/shop/shop-img-6.jpg" alt="Image">
              </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><i class="bx bx-left-arrow-alt"></i></button><button type="button" role="presentation" class="owl-next"><i class="bx bx-right-arrow-alt"></i></button></div><div class="owl-dots disabled"></div></div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6">
          <div class="product-content">
            <h3>
              <a href="#">transform: scaleY(1);</a>
            </h3>

            <div class="price">
              <del>$59.00</del> <span class="new-price">$39.00</span>
            </div>

            <div class="product-review">
              <div class="rating">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
              </div>
              <a href="#" class="rating-count">3 reviews</a>
            </div>

            <ul class="product-info">
              <li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At magnam ad reprehenderit fuga nam, non odit necessitatibus facilis beatae temporibus</p>
              </li>
              <li>
                <span>Availability:</span> <a href="#">In stock (7 items)</a>
              </li>
              <li>
                <span>Product Type:</span> <a href="#">Book</a>
              </li>
            </ul>


            <div class="product-add-to-cart">
              <div class="input-counter">
                                        <span class="minus-btn">
											<i class="bx bx-minus"></i>
										</span>

                <input type="text" value="1">

                <span class="plus-btn">
											<i class="bx bx-plus"></i>
										</span>
              </div>

              <button type="submit" class="default-btn">
                Add to Cart
                <i class="flaticon-right"></i>
              </button>
            </div>

            <div class="share-this-product">
              <h3>Share this product</h3>

              <ul>
                <li>
                  <a href="#">
                    <i class="bx bxl-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="bx bxl-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="bx bxl-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="bx bxl-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="shop-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="shop-card-wrap">
          <div class="showing-result">
            <div class="row align-items-center">
              <div class="col-lg-6 col-sm-6">
                <div class="showing-result-count">
                  <p>Showing 1-8 of 14 results</p>
                </div>
              </div>

              <div class="col-lg-6 col-sm-6">
                <div class="showing-top-bar-ordering">
                  <select style="display: none;">
                    <option value="1">Default sorting</option>
                    <option value="2">Education</option>
                    <option value="0">Accounting</option>
                    <option value="3">Language</option>
                    <option value="4">Teaching</option>
                    <option value="5">Research</option>
                    <option value="5">Assessment</option>
                  </select><div class="nice-select" tabindex="0"><span class="current">Default sorting</span><ul class="list"><li data-value="1" class="option selected">Default sorting</li>
                  <li data-value="2" class="option">Education</li>
                  <li data-value="0" class="option">Accounting</li>
                  <li data-value="3" class="option">Language</li>
                  <li data-value="4" class="option">Teaching</li>
                  <li data-value="5" class="option">Research</li>
                  <li data-value="5" class="option">Assessment</li></ul></div>
                </div>
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-lg-4 col-sm-6" *ngFor=" let item of Products | productFilter:filterText">
              <div class="single-shop">
                <div class="shop-img">
                  <img src='{{item.img}}' alt="Image"><span>{{item.title}}</span>

                  <ul>
                    <li>
                      <a href="#">
                      </a><a href="#product-view-one" data-toggle="modal">
                      <i class="bx bx-show-alt"></i>
                    </a>

                    </li>
                    <li>
                      <a href="#">
                        <i class="bx bx-heart"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <span> <del>{{item.dis  |currency:'Usd'+ " "}} </del> {{item.pirce  |currency:'Usd'+ " "}} </span>

                <a  class="default-btn"(click)="addToCart(item)">
                  Add to cart

                </a>

              </div>
            </div>



          </div>
        </div>
      </div>



      <div class="col-lg-4">
        <div class="widget-sidebar">
          <div class="sidebar-widget search">
            <form class="search-form">
              <input class="form-control" [(ngModel)]="filterText" name="search" placeholder="Search here" type="text">
              <button class="search-button" type="submit">
                <i class="bx bx-search"></i>
              </button>
            </form>
          </div>

          <div class="sidebar-widget categories">
            <h3>Categories</h3>

            <ul>
              <li>
                <a href="#">Education</a>
              </li>
              <li>
                <a href="#">Health Coaching</a>
              </li>
              <li>
                <a href="#">Learning</a>
              </li>
              <li>
                <a href="#">Online</a>
              </li>
              <li>
                <a href="#">Academics</a>
              </li>
              <li>
                <a href="#">Admission</a>
              </li>
              <li>
                <a href="#">Student</a>
              </li>
              <li>
                <a href="#">Graduation</a>
              </li>
            </ul>
          </div>

          <div class="sidebar-widget popular-post">
            <h3 class="widget-title">Popular Posts</h3>

            <div class="post-wrap">
              <div class="item">
                <a href="single-blog.html" class="thumb">
                  <span class="fullimage cover bg1" role="img"></span>
                </a>

                <div class="info">
                  <h4 class="title">
                    <a href="single-blog.html">We will begin to explore the next two levels</a>

                    <span class="date">20-07-2020</span>
                  </h4>
                </div>
              </div>

              <div class="item">
                <a href="single-blog.html" class="thumb">
                  <span class="fullimage cover bg2" role="img"></span>
                </a>

                <div class="info">
                  <h4 class="title">
                    <a href="single-blog.html">Determining the true goal of a good education is difficult.</a>

                    <span class="date">19-07-2020</span>
                  </h4>
                </div>
              </div>

              <div class="item">
                <a href="single-blog.html" class="thumb">
                  <span class="fullimage cover bg3" role="img"></span>
                </a>

                <div class="info">
                  <h4 class="title">
                    <a href="single-blog.html">Implementing peer assessment in online group</a>

                    <span class="date">18-07-2020</span>
                  </h4>
                </div>
              </div>
            </div>
          </div>

          <div class="sidebar-widget tags">
            <h3>Tags</h3>

            <ul>
              <li>
                <a href="#">Education</a>
              </li>
              <li>
                <a href="#">College</a>
              </li>
              <li>
                <a href="#">College</a>
              </li>
              <li>
                <a href="#">Math</a>
              </li>
              <li>
                <a href="#">Design</a>
              </li>
              <li>
                <a href="#">Learning</a>
              </li>
              <li>
                <a href="#">Learning</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
