<section class="contact-info-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="single-contact-info">
          <i class="flaticon-call"></i>
          <h3>Call us</h3>
          <a href="tel:+1(514)312-5678"> 312-5678</a>
          <a href="tel:+1(514)312-6688">312-6688</a>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="single-contact-info">
          <i class="flaticon-pin"></i>
          <h3>Our location</h3>
          <a href="#">Lorem ipsum Lorem ipsum Lorem ipsum</a>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
        <div class="single-contact-info">
          <i class="flaticon-email"></i>
          <h3>Email</h3>
          <a href="mailto:hello@eduon.com">Loremipsum@Lorem.com</a>
          <a href="mailto:public@eduon.com">Loremipsum@Loremipsum.com</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-contact-area pb-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="contact-wrap contact-pages mb-0">
          <div class="contact-form">
            <div class="section-title">
              <h2>Drop us a message for any query</h2>
              <p>For more information about our courses, get in touch <br> with eduon contacts</p>

            </div>
            <form id="contactForm" novalidate="true">
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" id="name" class="form-control" required="" data-error="Please enter your name">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>

                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <label>Email Address</label>
                    <input type="email" name="email" id="email" class="form-control" required="" data-error="Please enter your email">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <label>Subject</label>
                    <input type="text" name="msg_subject" id="msg_subject" class="form-control" required="" data-error="Please enter your subject">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <label>Message</label>
                    <textarea name="message" class="form-control" id="message" cols="30" rows="10" required="" data-error="Write your message"></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12">
                  <button type="submit" class="default-btn btn-two disabled" style="pointer-events: all; cursor: pointer;">
                    Send Message
                  </button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
