<footer class="footer-top-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h3>Find Us</h3>

          <ul class="address">
            <li class="location">
              <i class="bx bxs-location-plus"></i>
              lorem loremlor loremlorem
            </li>

            <li>
              <i class="bx bxs-envelope"></i>
              <a href="mailto:hello@eduon.com">lorem@lorem.com</a>
              <a href="mailto:public@eduon.com">lorem@lorem.com</a>
            </li>

            <li>
              <i class="bx bxs-phone-call"></i>
              <a href="tel:+1(514)312-5678">312-5678</a>
              <a href="tel:+1(514)312-6688">312-6688</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h3>Useful links</h3>

          <ul class="link">
            <li>
              <a href="courses.html">All Courses</a>
            </li>
            <li>
              <a href="about.html">About us</a>
            </li>
            <li>
              <a href="faq.html">Help (FAQ)</a>
            </li>
            <li>
              <a href="terms-conditions.html">Terms & Conditions</a>
            </li>
            <li>
              <a href="privacy-policy.html">Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h3>Top online courses</h3>

          <ul class="link">
            <li>
              <a href="#">AI for everyone</a>
            </li>
            <li>
              <a href="#">Networks and deep learning</a>
            </li>
            <li>
              <a href="#">Learning with python</a>
            </li>
            <li>
              <a href="#">Financial markets</a>
            </li>
            <li>
              <a href="#">Speak English professionally</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h3>Popular subjects</h3>

          <ul class="link">
            <li>
              <a href="#">Data science</a>
            </li>
            <li>
              <a href="#">Computer science</a>
            </li>
            <li>
              <a href="#">Business and Management</a>
            </li>
            <li>
              <a href="#">Business and Management</a>
            </li>
            <li>
              <a href="#">Nature & Environment</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<footer class="footer-bottom-area">
  <div class="container">
    <div class="copyright-wrap">
      <p>Copyright @2020 Eduon<a href="https://hibootstrap.com/" target="blank">lorem.com</a></p>
    </div>
  </div>
</footer>
<div class="go-top">
